﻿@model IEnumerable<ConsumingRESTServiceCRUD_Client.Models.Book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISBN)
        </th>
        <th></th>
    </tr>

@foreach (var item in ViewBag.listBook) {
    <tr>
        <td>
            @item.Title
        </td>
        <td>
            @item.ISBN
        </td>
    </tr>
}

</table>
